.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 44px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    

}

.blog_cont {
    max-width: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1,
.container h2,
.container h3,
.container span,
.container li,
.container h4 {
    margin: 0;
    width: 100%;
    line-height: 1.5;
    
}

.container h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 24px;
}

.container h4 {
    font-size: 24px;
    font-weight: 700;
}

.container span,
.container li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin: 8px 0px;
}

.container li {
    margin: 0;
}

.container ul {
    width: 90%;
}

.image_cont {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 300px;
    position: relative;
    border-radius: 24px;
    width: 100%;
    margin: 24px 0px;
}

.image_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}


.stack_cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
    align-self: stretch;
    margin-bottom: 24px;
}

.stack_label {
    border: 1px solid #ebebeb;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    opacity: 0.6;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;

}

.return_button {
    position: fixed;
    top: 12px;
    right: 5%;
    background-color: #F5F5F780;
    backdrop-filter: blur(10px);
    border: 1px solid #ebebeb80;
}


@media (max-width: 768px) {

    .container h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 24px;
    }
    
    .container h4 {
        font-size: 18px;
        font-weight: 700;
    }
    
    .container span,
    .container li {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        margin: 8px 0px;
    }

    .hero_img {
        max-width: 75%;
    }

}