.footer_cont {
    width: 100%;
    background: #F5F5F780;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    /* color: #FFF; */
    font-size: 14px;
    font-weight: 400;
    padding: 40px 24px;
    position: absolute;
    bottom: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 6px;
    color: #000;
    text-decoration: wavy;
}

@media (max-width: 768px) {

    .footer_cont {
        font-size: 12px;
        font-weight: 400;
    }

}