.main_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 64px;
    box-sizing: border-box;
    overflow-x: hidden;

}

.shadow {
    position: absolute;
    width: 100%;
    height: calc(100% + 60px);
    z-index: 999;
    background-color: #FFFFFF40;
    /* mix-blend-mode: multiply; */
    transition: all 0.3s ease;
}



